<div class="container">
  <h1>My test task</h1>
  
  <ng-template #template>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Modal</h4>

      <button
        type="button"
        class="btn-close close pull-right"
        aria-label="Close"
        (click)="modalRef?.hide()"
       
      >
        <span aria-hidden="true" class="visually-hidden">&times;</span>
      </button>
    </div>
    <div class="modal-body">
   
     <img class='modal-image' [src]="currentElement.url"/>
 
<p *ngIf='!currentElement.comment'>No comment</p>
<ul *ngIf='currentElement.comment'>
  <li *ngFor="let item of currentElement.comment">{{item}}</li>
</ul>

   
   <form (submit)="onSubmit($event)">     
    <div class="form-group">
      <label for="exampleFormControlTextarea1">Add comments to the image</label>
      <textarea class="form-control form-control-lg" name='text' id="exampleFormControlTextarea1" rows="3"></textarea>
      
    </div>
    <button type="submit" class="btn btn-dark">Submit</button>
  </form>
    </div>
  </ng-template>

  <!-- Ul -->
  <ul class="list">
    <li class="item" *ngFor="let image of storeImage">
      <img
        (click)="getImage($event)"
        (click)="openModal(template)"
        data-id="{{ image.id }}"
        [src]="image.url"
        alt="image"
      />
    </li>
  </ul>
</div>


